.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/data/*
!/data/.gitkeep
!/data/references/.gitkeep
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.txt
*DNA*.txt
AncestryDNA.txt
23andMe*.txt
